#Print Function

In [ ]:
print("Machine Learning")

Machine Learning

In [ ]:
print("Machine Learning" + " " + "Projects")

Machine Learning Projects

In [ ]:
print(7)

7

In [ ]:
print(8+3)

11

# Basic Data Types

1. int
2. float
3. str

In [ ]:
num = 7

In [ ]:
print(num)

7

In [ ]:
type(num)

int

In [ ]:
type("Abhi")

str

In [ ]:
type(8.48)

float

# Variables

In [ ]:
superHero = "Iron Man"
print(superHero)

Iron Man

In [ ]:
superHero = "Spider Man"
print(superHero)

Spider Man

In [ ]:
hero1, hero2, hero3 = "Spider Man", "Hulk", "Thor"

In [ ]:
print(hero1)
print(hero2)
print(hero3)

Spider Man
Hulk
Thor

In [ ]:
x = y = z = 11

In [ ]:
print(x)
print(y)
print(z)

11
11
11

In [ ]:
a, b, c = 1, 2, 3

In [ ]:
print(a)
print(b)
print(c)

1
2
3

In [ ]:
n = 11
name = "Abhi"
cgpa = 8.48

In [ ]:
type(name)

str

# Input Function

In [ ]:
num1 = input("Enter Number1: ")
num2 = input("Enter Number2: ")

sum = num1 + num2
print(sum)

Enter Number1: 2
Enter Number2: 3
23

NOTE: In Python By_Default the input which is taken from the user by using input() is String Data

In [ ]:
num1 = int(input("Enter Number1: "))
num2 = int(input("Enter Number2: "))

sum = num1 + num2
print(sum)

Enter Number1: 2
Enter Number2: 3
5

# Type Casting - Changing the data type in python

In [ ]:
num = 11

In [ ]:
type(num)

int

In [ ]:
decimal_num = float(num)
print(decimal_num)

11.0

In [ ]:
print(float(num))

11.0

# Data Types in Python

1. Integer
2. Floating Point
3. Complex
4. Boolean
5. String

In [ ]:
# integers
n = 11
print(n)

11

In [ ]:
type(n)

int

In [ ]:
# Floating Point
cgpa = 8.48
print(cgpa)
type(cgpa)

8.48

float

In [ ]:
# Complex Number -> (a + bj)
complex_num = 1 + 3j
print(complex_num)
type(complex_num)

(1+3j)

complex

Type Casting

In [ ]:
# int to float
x = 10
print(x)
type(x)

10

int

In [ ]:
decimal_num = float(x)
print(decimal_num)
type(decimal_num)

10.0

float

In [ ]:
# float to int
cgpa = 8.48
print(cgpa)
type(cgpa)

8.48

float

In [ ]:
y = int(cgpa)
print(y)
type(y)

8

int

Boolean
1. True
2. False

In [ ]:
isStudent = True
print(isStudent)
type(isStudent)

True

bool

In [ ]:
isFaculty = False
print(isFaculty)
type(isFaculty)

False

bool

String

In [ ]:
print("Machine Learning")

Machine Learning

In [ ]:
print("Hello"*5)

HelloHelloHelloHelloHello

In [ ]:
myStr = "Machine Learning"
print(myStr.split())

['Machine', 'Learning']

String Indexing

In [ ]:
print(myStr[0])
print(myStr[1])

M
a

In [ ]:
print(myStr[-1])

g

In [ ]:
print(myStr[-2])

n

In [ ]:
print(myStr[-3])

i

In [ ]:
# myStr[startIndex: endIndex: stepIndex]
# startIndex is Included
# endIndex is Excluded
# If stepIndex = -1  Then it will reverse the String

In [ ]:
print(myStr[0:6])

Machin

In [ ]:
print(myStr[0:7])

Machine

In [ ]:
print(myStr[::-1])

gninraeL enihcaM

In [ ]:
print(myStr[::2])

McieLann

In [ ]:
# myStr = "Machine Learning"
print(myStr[1:4])

ach

String Concatenation

In [ ]:
str1 = "Machine"
str2 = "Learning"
str3 = str1 + str2
print(str3)

MachineLearning

In [ ]:
print(str1 + " " + str2)

Machine Learning

# List Tuple Set Dictionary

1. Mutable Objects - Variable Value can be changed
2. Immutable Objects - Variable Value can not be changed

Mutable Objects:
1. List
2. Set
3. Dictionary

Immutable Objects:
1. Tuple

# List

In [ ]:
# List
# List should be included in the Square Brackets
my_list = [1, 2, 3, 4, 5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
# We can store elements of different data types in the List
my_list = [1, 2, "Abhi", True, 8.48]
print(my_list)

[1, 2, 'Abhi', True, 8.48]

In [ ]:
# add elements to a List
my_list.append(7)
print(my_list)

[1, 2, 'Abhi', True, 8.48, 7]

In [ ]:
# List Indexing
print(my_list[0])
print(my_list[2])

1
Abhi

In [ ]:
print(my_list[-1])
print(my_list[-2])

7
8.48

In [ ]:
print(my_list[::-1])

[7, 8.48, True, 'Abhi', 2, 1]

In [ ]:
print(my_list[1:4])

[2, 'Abhi', True]

In [ ]:
# my_list = [1, 2, 'Abhi', True, 8.48, 7]
print(my_list[::2])

[1, 'Abhi', 8.48]

In [ ]:
# We can store the elements of Duplicate Values in the List
list_1 = [1, 1, 2, 2, 3, 3, 3]
print(list_1)

[1, 1, 2, 2, 3, 3, 3]

In [ ]:
print(len(list_1))

7

In [ ]:
# Initiating an empty list
list_2 = []
print(list_2)

[]

In [ ]:
list_2.append(11)
print(list_2)

[11]

In [ ]:
list_2.append(45)
print(list_2)

[11, 45]

In [ ]:
# We can delete an element in the List
my_list = [1, 2, 'Abhi', True, 8.48, 7]
my_list.pop()
print(my_list)

[1, 2, 'Abhi', True, 8.48]

In [ ]:
my_list.pop(2)
print(my_list)

[1, 2, True, 8.48]

In [ ]:
del my_list[0]
print(my_list)

[2, True, 8.48]

In [ ]:
# Join two Lists
list_3 = [1, 2, 3]
list_4 = [7, 18, 45, 11]
list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 7, 18, 45, 11]

# Tuple

In [ ]:
# Tuple - Immutable Object -> Variable value can not be changed

In [ ]:
tuple_1 = (11, 18, 45, 7)
print(tuple_1)
type(tuple_1)

(11, 18, 45, 7)

tuple

In [ ]:
# We can store elements of different Data Types in a Tuple
tuple_2 = (11, "Abhi", 8.48, "Machine Learning", True)
print(tuple_2)

(11, 'Abhi', 8.48, 'Machine Learning', True)

In [ ]:
# Coverting a List into a Tuple
my_list = [3, 4, 5, 6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [ ]:
print(my_tuple[0])
print(my_tuple[1])

3
4

In [ ]:
print(len(my_tuple))

4

# Set

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
# We can not access elements in a Set by using 'Indexing'

print(my_set[0])

TypeError: 'set' object is not subscriptable

In [ ]:
# Converting a List into a Set
myList = [1, 2, 3, 4, 5]

mySet = set(myList)
print(mySet)

{1, 2, 3, 4, 5}

In [ ]:
# Set does not allow Duplicate values
# We can store Only Unique Values in a Set
set1 = {1, 2, 2, 3, 3, 3, 4, 4 ,5}
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
# We can store elements of different data types in a Set
set2 = {11, 8.48, "Abhi", "Machine Learning", True}
print(set2)

{True, 'Abhi', 8.48, 11, 'Machine Learning'}

# Dictionary

In [ ]:
# Dictionary -> Key:Value Pairs
my_dictionary = {"Name": "Abhi", "regNo": 1073, "CGPA": 8.48, "isStudent": True}

print(my_dictionary["Name"])
print(my_dictionary["regNo"])

Abhi
1073

In [ ]:
# We can not store Duplicate Keys in a Dictionary

# We can store only Unique Keys in a Dictionary

dictionary_1 = {"Name": "Abhi", "Name": "Ramu", "CGPA": 8.48, "isStudent": True, "isStudent": False, "CGPA": 8.62}
print(dictionary_1)

{'Name': 'Ramu', 'CGPA': 8.62, 'isStudent': False}

# Operators

1. Arithmetic Operators

In [ ]:
num_1 = 2
num_2 = 4

# addition
sum = num_1 + num_2

# Subraction
sub = num_1 - num_2

# Multiplication
product = num_1 * num_2

# Division
quotient = num_1 / num_2

# Modulus Operator -> Remainder
remainder = num_1 % num_2

# Exponentiation
power = num_1 ** num_2      #  num_1 ^ num_2 = 2 ^ 4 = 16

print("Sum: ", sum)
print("Sub: ", sub)
print("Product: ", product)
print("Quotient: ", quotient)
print("Remainder: ", remainder)
print("Power: ", power)

Sum:  6
Sub:  -2
Product:  8
Quotient:  0.5
Remainder:  2
Power:  16

2. Assignment Operators
   - =
   - +=
   - -=
   - *=
   - /=
   - %=
   - **=

In [ ]:
a = 11
print(a)

11

In [ ]:
a += 2      # a = a + 2
print(a)

13

In [ ]:
b = 7
b -= 4      # b = b - 4
print(b)

3

In [ ]:
c = 9
c **= 2    # c = c ** 2 = 9 ** 2 = 9 ^ 2 = 81
print(c)

81

3. Comparision Operators

In [ ]:
a = 5
b = 10

print(a == b)    # Equals to
print(a != b)    # Not equals to
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

False
True
True
False
True
False

4. Logical Operators
   - and
   - or
   - not

In [ ]:
a = 10

print( a>20 and a>5 )

False

In [ ]:
print( a>20 or a>5 )

True

In [ ]:
print( not a>5 )

False

5. Membership Operator
   - in
   - not in

In [ ]:
a = 5
my_List = [1, 2, 3, 4, 5]
print( a in my_List )

True

In [ ]:
print( a not in my_List)

False

In [ ]:
b = 10
print(b not in my_List)

True

# if else statement

In [ ]:
isStudent = True

In [ ]:
if (isStudent):
  print("Student")
else:
  print("Not a Student")

Student

Else if Conditional Statement -> elif
- if
- elif
- else

In [ ]:
a = 7
b = 11
c = 45

if(a>b and a>c):
  print("a is the greatest number")
elif(b>a and b>c):
  print("b is the greatest number")
else:
  print("c is the greatest number")

c is the greatest number

Nested if Statement

In [ ]:
a = 7
b = 11
c = 45

if (a>b):
  if(a>c):
    print("a is the greatest number")
  else:
    print("c is the greatest number")
else:
  if(b>c):
    print("b is the greatest number")
  else:
    print("c is the greatest number")

c is the greatest number

# Loops

for Loop

In [ ]:
for i in range(5):    # 0,1,2,3,4
  print(i)

0
1
2
3
4

In [ ]:
total_price=0
for i in range(5):
  laptop_price = int(input("Enter the price of the laptop: "))
  total_price += laptop_price
print("Total price of Laptops: ", total_price)

Enter the price of the laptop: 10000
Enter the price of the laptop: 20000
Enter the price of the laptop: 30000
Enter the price of the laptop: 40000
Enter the price of the laptop: 50000
Total price of Laptops:  150000

In [ ]:
numbers = [7, 11, 13, 18, 45]

for i in range(len(numbers)):
  print(numbers[i])

7
11
13
18
45

In [ ]:
numbers = [7, 11, 13, 18, 45]

for i in numbers:
  print(i)

7
11
13
18
45

- for i in range(n) -> i = 0, 1, 2, ...., n-1
- for i in range(startIndex, endIndex)  -> i = startIndex, startIndex+1, ...., endIndex-1
- range(startIndex, endIndex)
- startIndex -> Included
- endIndex -> Excluded

In [ ]:
for i in range(1, 5):
  print(i)

1
2
3
4

while Loop

In [ ]:
i = 0

while i<10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

# Functions

In [ ]:
def factorial(num):
  if num == 0:
    return 1
  else:
    fact = 1
    for i in range(1, num+1):
      fact = fact * i
    return fact

print(factorial(5))

120

In [ ]:
print(factorial(10))

3628800

In [ ]:
print(factorial(4))

24